.App {
	/* text-align: center; */

	background-color: #97999c;
	min-height: 100vh;
	display: flex;

	font-size: calc(10px + 2vmin);
	/* color: white; */
}

/* LOGIN */
.loginView {
	margin: auto;
	background-color: #63b7af;
	width: 35%;
	height: 300px;
}

.fitBitLogin {
	margin: 50px;
}
.guestLogin {
	margin: 50px;
}
/* SIDEBAR */
.sideBar {
	text-align: center;
	height: 100vh;
	color: black;
	padding: 5px;
	width: 8%;
	float: left;
	flex-direction: column;
	display: flex;
	background-color: #abf0e9;
}
