.App {
	/* text-align: center; */
	/* e7e7e7 */
	background-color: #e7e7e7;
	min-height: 100vh;
	display: flex;

	font-size: calc(10px + 2vmin);
	/* color: white; */
}

/* LOGIN */

.fitBitLogin {
	margin: 50px;
}
.guestLogin {
	margin: 50px;
}
/* SIDEBAR */
